################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryAutomation/v15/Server/sqlite3
/LibraryAutomation/bin
/LibraryAutomation/obj
/packages